<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://org.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/spring-beans-4.2.xsd
 http://www.springframework.org/shcema/context
 http://www.springframework.org/schema/spring-context-4.2.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/spring-tx-4.2.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/shcema/spring-aop-4.2.xsd"
	default-lazy-init="true">

	<context:annotation-config />
	<context:component-scan base-package="net.**.service" />
	<context:property-placeholder location="classpath*:/config.properties" />
	<beans profile="test">
		<context:property-placeholder location="classpath*:/config_test.properties"
			ignore-unresolvable="true" />
	</beans>
	<beans profile="dev">
		<context:property-placeholder location="classpath*:/config_dev.properties"
			ignore-unresolvable="true" />
	</beans>
	<beans profile="prod">
		<context:property-placeholder location="classpath*:/config_prod.properties"
			ignore-unresolvable="true" />
	</beans>
</beans>